* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    text-decoration: none;
    list-style: none;
}

.app {
    display: flex;
    gap: 50px;
}

#header {
    width: 100%;
    padding: 40px;
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 50px;
}

ul {
    display: flex;
    gap: 30px;
}

li > a {
    cursor: pointer;
}
.movies > a {
    text-decoration: underline red 2px;
    font-weight: 500;
    cursor: pointer;
}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.photo {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.photo > div > img {
    width: 150px;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
    margin-top: 50px;
}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide > img {
    display: block;
    width: 100%;
    height: 500px;
    object-fit: contain;
}
